@prefix:~"ticketManage-home";

.@{prefix}{
    height: 100vh;
    overflow: hidden;
    background: #E1E1E1;
    .container{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-top: 8px;
        .content{
            overflow: scroll;
            flex: 1;
            -webkit-overflow-scrolling: touch;
            &::-webkit-scrollbar {
                display: none;
            }

        }
        .footer{
            flex: 0 0 auto;
        }
    }


}