@prefix:~"ticketManage-orderList";

.@{prefix}{
    height: 100vh;
    display: flex;
    background: #EFEFF4;
    flex-direction: column;
    &-header{
        width: 100%;
        background: #FFF;
        height: 85px;
        flex: 0 0 auto;
        .search{
            box-sizing: border-box;
            .am-search{
                background: #FFF;
            }
            .am-search-input{
                border: 1px solid rgb(187, 187, 187);
            }
        }
        .tabs {
            height: 40px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #BBBBBB;
            border-top: 1px solid #BBBBBB;
            .tabItem{
                flex: 1;
                text-align: center;
                color:#8F8F95;
                height: 100%;
                line-height: 40px;
                font-size: 14px;
            }
            .tabItem.active{
                color:#17abe3
            }

        }
    }
    &-list{
        overflow: scroll;
        flex: 1;
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
            display: none;
        }
        padding-bottom: 8px;
        .no-data{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            color:#6d6d72;
            font-size: 14px;
            >span{
                >a{
                    color:#17abe3;
                }
            }
        }
        .item{
           margin-top: 8px;
        }
    }
    &-footer{
        flex:0 0 auto;
    }
}