@prefix:~"ticketManage-creditSetting";

.@{prefix}{
    height: 100vh;
    display: flex;
    flex-direction: column;

    >.content{
        overflow: scroll;
        flex: 1;
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
            display: none;
        }
        .qrcode{
            .am-input-label{
                color: #000 !important;
            }
        }
        /* .am-list-extra, .am-input-label, .am-list-content, input, .fake-input-placeholder{
            font-size: 14px;
        } */
        .am-list-item .am-input-control input{
            text-align: right;
        }
        .imagesList .am-flexbox{ 
            padding-bottom: 15px;
        }
    }
    >.footer{
        flex: 0 0 auto;
        height: 48px;
        line-height: 48px;
        background: #10A1F1;;
        color:#FFF;
        font-size: 16px;
        text-align: center;
        &.disabled{
            background: #E5E5E5;
        }
    }
}